body {
    font-family: "Gill Sans", sans-serif;
}

h1 {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    border-style: groove;
    font-size: 60px;
    margin: 100px;
}

a.top-nav {
    margin: 60px;
    padding: 25px 0px 25px 0px;
    color: white;
}

nav {
    text-align: center;
    background-color: rgb(52, 53, 54);
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    line-height: 3.5;
}

h2.navigation {
    font-size: 40px;
    margin-left: 170px;
    color: black;
}

:hover {
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-left: 130px;
}

img {
    width: 300px;
    margin: 40px;
}

h2.section {
    border-radius: 5px;
    border-style: none;
    background-color: rgb(230, 230, 230);
    line-height: 1.5;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px 20px;
    font-size: 40px;
}

section {
    margin-left: 150px;
    margin-right: 150px;
}

h3.subsection {
    font-size: 30px;
    margin-left: 20px;
}

p {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    line-height: 1.5;
}

li {
    list-style-type: none;
    font-size: 20px;
    line-height: 1.5;
}